@tailwind base;

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-lg font-medium;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-sm;
}

h6 {
  @apply text-xs;
}

@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: #F3A60D;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #F3A60D;
  border-radius: 10px;
}